/*? GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffa07a;
}

.container {
  width: 80%;
  background-color: whitesmoke;
  margin: 45px auto;
  border-radius: 2rem;
  box-shadow: 5px 5px 60px black;
  font-family: "Judson", serif;
}
.header {
  /*? muhtesem uclu */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*? yanlardan bozluk birakir */
  /* justify-content: space-around; */

  /*?  sikistigi zaman asagi inmesi icin disa tasmak yerine asagiya inmesi*/
  flex-wrap: wrap;
}
.input-part {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /*?  sikistigi zaman asagi inmesi icin disa tasmak yerine asagiya inmesi*/
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: -2px 2px 5px;
  margin: 1rem;
}

select {
  font-family: "Bellota", cursive;
  height: 40px;
  width: 190px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
  padding: 5px;
}
.search-a {
  height: 40px;
  width: 300px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}
.search-a input {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 10px;
}

.magnifier {
  height: 30px;
  width: 30px;
  margin: 1rem;
}

.support {
  font-size: 1.5rem;
  text-align: right;
}

.support-number {
  font-weight: 600;
}

.support-text {
  font-size: 1rem;
}
